@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900% display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color:#1f242d;
    --second-bg-color: #323946;
    --text-color:#fff;
    --main-color:#0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;    
}
   
body {  
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
   
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}
.h2 {
    color: #fff;
}






#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 35vw;
    filter: drop-shadow(2px 2px 20px cyan);
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}
span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: aquamarine;
}
.home-content p {
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem; font-weight: 600;
    transition: .5s ease;
}
.btn:hover {
    box-shadow: none;    
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;    
    background: var(--second-bg-color);
}
.about-img img {    
    width: 20vw;
    filter: drop-shadow(2px 2px 20px cyan);
}
.heading {
    text-align: center;
    font-size: 4.5rem;    
}
.about-content h2 {
    text-align: left;
    line-height: 1.2;
}
.about-content h3 {
    font-size: 2.6rem;
}
.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #131313;
    color: white;
}



.education {
    background: var(--bg-color);
    padding: 4rem 0;
    color: var(--text-color);
}

.education .heading {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 4rem;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 2rem;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    width: 2px;
    height: 100%;
    background: var(--main-color);
}

.timeline-item {
    position: relative;
    padding: 2rem 0;
    margin-left: 3rem;
}

.timeline-dot {
    position: absolute;
    top: 50%;
    left: -33px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: var(--main-color);
    border-radius: 50%;
    border: 2px solid var(--bg-color);
}

.timeline-content {
    background: var(--second-bg-color);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--main-color);
}

.timeline-content h3 {
    font-size: 2.4rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.timeline-content span {
    font-size: 1.6rem;
    color: var(--main-color);
    display: block;
    margin-bottom: 1rem;
}

.timeline-content p {
    font-size: 1.6rem;
    color: var(--text-color);
    opacity: 0.8;
}




.skills {
    background: var(--second-bg-color);
    padding: 4rem 9%;
}

.skills .heading {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 4rem;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.technical-skills, .professional-skills {
    width: 48%;
    text-align: center; /* Center the headings */
}

.technical-skills h3, .professional-skills h3 {
    font-size: 2.5rem;
    margin-bottom: 3rem; /* Space between heading and content */
    margin-top: 0; /* Consistent layout */
}

.skill-bar {
    margin-bottom: 2rem;
    text-align: left; /* Align text to the left within the bars */
}

.skill-bar .info {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.skill-bar .progress-line {
    position: relative;
    height: 1.2rem;
    background: var(--bg-color);
    border-radius: 10px;
}

.skill-bar .progress-line span {
    position: absolute;
    right: 10px;
    top: -30px;
    font-size: 1.4rem;
}

.skill-bar .progress-line.html::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 70%;
    background: var(--main-color);
    border-radius: 10px;
}

.skill-bar .progress-line.css::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 70%;
    background: var(--main-color);
    border-radius:10px;
}

.skill-bar .progress-line.javascript::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 60%;
    background: var(--main-color);
    border-radius: 10px;
}

.skill-bar .progress-line.python::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 85%;
    background: var(--main-color);
    border-radius: 10px;
}

.skill-bar .progress-line.cpp::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 69%;
    background: var(--main-color);
    border-radius: 10px;
}

.skill-bar .progress-line.dbms::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 55%;
    background: var(--main-color);
    border-radius: 10px;
}

.circular-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    float: left;
    margin-bottom: 2rem;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(var(--main-color) calc(var(--percent) * 1%), #323946 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.inner-circle {
    background: var(--second-bg-color);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle .percent {
    font-size: 1.8rem;
    color: var(--main-color);
}

.skill-name {
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    margin-top: 5px;
    width: 100%;
}



/* Certification Section */
.certification {
    background: var(--bg-color);
}
.certification h2 {
    margin-bottom: 5rem;
}    
.certification-container {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.certification-container  .certification-box {
    flex: 1 1 30rem;
    background: #323946;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;

}
.certification-container  .certification-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
    filter: drop-shadow(2px 2px 20px cyan);
}
.certification-box i {    
    font-size: 7rem;
    color: var(--main-color);
}    
.certification-box h3 {
    font-size: 2.6rem;
}
.certification-box p {
    font-size: 1.6rem;
   margin: 1rem 0 3rem;
}












.project {
    background: var(--second-bg-color);
}    
.project h2 {    
    margin-bottom: 4rem;    
}
.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.project-container .project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;    
}
   
.project-box img {
    width: 100%;
    transition: .5s ease;
}
.project-box:hover img {
    transform: scale(1.1);
}
.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.project-box:hover .project-layer {
    transform: translateY(0);
}
.project-layer h4 {
    font-size: 3rem;
}
.project-layer p {    
    font-size: 1.6rem;
    margin: .3rem 0 1rem;    
}
.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.project-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}





.container{
    width: 95%;
    background: #1f242d;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.29);
    align-items: center;
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color: #0ef;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
  }
  .container .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #0ef;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #323946;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #0ef;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .bth {
    margin-top: 2rem;
    cursor: pointer;
}
 
  @media (max-width: 950px) {
    .container{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container{
      margin: 40px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
    }
   .container .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .content .left-side::before{
     display: none;
   }
   .container .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }





.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);  
}
.footer-text p {
    font-size: 1.6rem;
}
.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}
